.editFormWrapper {
    width: 100%;
    position: absolute;
    padding: 0.4rem;
    top: 0;
    left: 0;
    z-index: 9;
}

.editFormWrapper form {
    display: flex;
    justify-content: space-between;
}

.editFormWrapper form .custom-input {
    width: 100%;
    margin-right: 7%;
    padding: 0 2%;
    border: 0;
}