
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(224, 224, 224);
}
 
::-webkit-scrollbar-thumb {
  background-color: #69696b;
}

header {
    background: #ffffff;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    border-bottom: 2px solid #b5b5b5;
}

footer {
    border-top: 1px solid #cccc;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    color: #8d8b8b;
}

footer a {
    color: #8d8b8b;
}


.todo-wrapper {
    min-height: 77vh;
}

.todo-board {
    background-color: #fafafa;
    padding: 1rem;
    border: 2px solid #e6e6e6;
}

h1 {
    color: #69696b;
}

h3 {
    color: #8b8b8b;
    font-family: inherit;
}

small {
    font-size: 11px;
    color: #8b8b8b;
}