body {
    --text-color: #222;
    --bkg-color: #fff;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #464646;
}

@media (prefers-color-scheme: dark) {

    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #3f3f3f;
    }

    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }


}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bkg-color);
}

header {
    background: var(--bkg-color) !important;
}


.todo-board {
    background: var(--bkg-color) !important;
}

h1,
p {
    color: var(--text-color) !important;
}

.MuiFilledInput-root {
    border: var(--text-color) !important
}